<div data-role="collapsible-set" data-theme="c" data-content-theme="d">
	<!-- Loop over hosts, display each one as own accordion -->
	<% _.forEach(hosts, function(host){	
		alert(JSON.stringify(hosts))%>
		<div data-role="collapsible">
		<h3><%= host.ipv4 %></h3>
		<p>IP Address(es): 
			<% _.forEach(host.ipv4, function(current) {
				%><%= current %><%
				if (current != host.ipv4.last()) {
					%>, <%
				}
			}); %>
		<p>Attached to switch: <%= host.attachmentPoint %> by port </p>
		<p>Mac Address(es): 
			<% _.forEach(host.mac, function(current) {
				%><%= current %><%
				if (current != host.mac.last()) {
					%>, <%
				}
			}); %>
		</p>
		<p>Last Seen: <%= (host.lastSeen).toLocaleString() %> </p>
		</div> <%
	
	}); %>
</div>