
<div style="width: 100%; overflow: hidden;">
    <div style="width: window.innerWidth/2; float: left;" data-role="controlgroup" data-type="horizontal" data-mini="true">
	<h3> Network Topology </h3>
	<p id="showLabels" data-role="button" data-icon="gear" data-theme="b">Show Labels</p>
	<select name="nodeList" id="nodeList" data-icon="search" data-theme="b">
		<option value="nodeList">Local View</option>
		<% _.each(coll, function(i) { %>  <option><%= i.dpid || i['ipv4'][0] %></option> <% }); %>
	</select>
	</div>
	
    <div id="legendDiv" style="margin-left: window.innerWidth/2; float: right;"></div>
</div>

<div id="doneDiv" style="display:none">
	<div data-role="controlgroup" data-type="horizontal" data-mini="true">
		<p id="doneButton" data-role="button" data-icon="gear" data-theme="b" style="float:right">Done</p>
	</div>
</div>

<div class="outer">
    <div class="inner"></div>
</div>